*
  box-sizing: border-box

html
  font-size: 10px

body
  position: relative
  background: $color-dark
  font-family: "WorkSans", Helvetica, sans-serif
  color: $color-light

.container
  max-width: 1170px
  margin: 0 auto

img
  max-width: 100%
  height: auto

.button
  outline: none
  border: none
  text-align: center
  cursor: pointer
  word-break: break-word
  text-decoration: none
