*
  box-sizing: border-box

html
  font-size: 10px

body
  position: relative
  background: $color-light1
  font-family: "Roboto", Helvetica, sans-serif
  color: $color-dark1

.container
  max-width: 1170px
  margin: 0 auto

img
  max-width: 100%
  height: auto

.link
  word-break: break-word
  text-decoration: none
  &:hover
    cursor: pointer

.title
  margin-top: 0
  margin-bottom: 0
  word-break: break-word

.p-text
  margin-top: 0
  margin-bottom: 0
  word-break: break-word

/*=== Buttons ===*/
.button
  outline: none
  border: none
  text-align: center
  cursor: pointer
  word-break: break-word
  text-decoration: none

.btn
  display: inline-flex
  justify-content: center
  align-items: center
  min-width: 15rem
  min-height: 5rem
  padding: 0 1rem
  font: normal 700 1.3rem "OpenSans"
  letter-spacing: 0.12px
  text-transform: uppercase
  &--accent
    border: 3px solid $color-accent
    background-color: $color-accent
    color: $color-dark1
    &:hover
      background-color: transparent
      transition: background-color 0.3s ease
  &--grey
    border: 3px solid $color-accent4
    background-color: $color-accent4
    color: $color-light2
    &:hover
      background-color: transparent
      color: $color-accent4
      transition: background-color 0.3s ease, color 0.3s ease
  &--accent2
    border: 3px solid $color-accent3
    background-color: $color-accent3
    color: $color-dark1
    &:hover
      background-color: transparent
      transition: background-color 0.3s ease
