@media (max-width: 1200px)
  .container
    max-width: 960px

  .header
    padding: 6rem 0

  .intro
    padding: 0 0 6rem
    &__content
      width: 50%
    &__slider
      width: 50%
    &__title
      margin-bottom: 3rem
    &__image
      &--sm
        height: 75%
        right: 0


  .information
    padding: 12rem 0
    &__title
      margin-bottom: 14rem
    .cards
      &__item
        margin-bottom: 14rem
      &__image
        &-wrapper
          width: 45%
      &__content
        width: 45%
    &__arrow
      left: 66%
