@media (max-width: 1200px)
  .container
    max-width: 960px

  .header
    padding: 6rem 0

  .intro
    padding: 0 0 6rem
    &__content
      width: 50%
    &__slider
      width: 50%
    &__title
      margin-bottom: 3rem
    &__image
      &--sm
        height: 75%
        right: 0
