@media (max-width: 575px)
  .intro
    &__title
      margin-bottom: 1.5rem
      font-size: 3rem
    &__text
      margin-bottom: 1.5rem
      font-size: 1.4rem
      line-height: 2.4rem
    &__item
      padding-top: 3rem
