@media (max-width: 767px)
  .container
    max-width: 576px
    width: 90%

  .header
    padding: 4rem 0

  .intro
    padding: 0 0 4rem
    &__title
      margin-bottom: 2rem
      font-size: 3.6rem
    &__text
      margin-bottom: 2rem
    &__item
      padding-top: 4rem
    &__image
      &--sm
        height: 60%
