@media (max-width: 991px)
  .container
    max-width: 700px

  .header
    padding: 5rem 0
    &-wrapper
      position: relative
    .nav
      position: absolute
      top: 6rem
      right: 0
      z-index: 100
      max-width: 100% 
      padding: 3rem
      background: $color-accent
      border: 2px solid $color-dark6
      &__list
        flex-direction: column
        align-items: flex-end
      &__item
        margin-left: 0
        margin-bottom: 1.5rem
        &:last-child
          margin-bottom: 0
      &__link
        &:last-child
          align-items: flex-end
      &--hidden
        display: none
    .mmenu
      display: block

  .intro
    padding: 0 0 5rem
    &-wrapper
      flex-direction: column
    &__content
      width: 100%
      flex-direction: column
      align-items: center
    &__slider
      width: 100%
    &__title
      margin-bottom: 3rem
      text-align: center
    &__text
      text-align: center
    &__image
      &--sm
        height: 75%
        right: 0
    &__arrow
      display: none

  .information
    padding: 10rem 0
    &__title
      margin-bottom: 10rem
    .cards
      &__item
        margin-bottom: 10rem
        flex-direction: column
        &:nth-child(even)
          .cards
            &__content
              order: 0
            &__image
              &-wrapper
                justify-content: center
      &__image
        &-wrapper
          width: 100%
          justify-content: center
          margin-bottom: 3rem
      &__content
        width: 100%
        text-align: center
    &__arrow
      display: none

  .work
    padding: 10rem 0
    &__title
      margin-bottom: 10rem
    &__arrow
      display: none
